services:
  app:
    build: ./php
    container_name: academy_app
    volumes:
      - ./frontend:/var/www/html
      - ./backend:/var/www/html/backend
    ports:
      - "8080:80"
    depends_on:
      - db
    restart: always

  db:
    image: mysql:8.0
    container_name: academy_db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: academy
      MYSQL_USER: academy_user
      MYSQL_PASSWORD: userpass
    # ports:
    #   - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: academy_phpmyadmin
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: rootpass
    ports:
      - "8081:80"
    depends_on:
      - db
    restart: always

volumes:
  db_data:
